@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px; /* 🔹 отступ между табами */

}

.darkSkin {
  background-color: none;
}

.tab {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 70px;
  height: 60px;
  font-size: 16px;
}

.tabContent {
  
 width: 100%;
  height: 100%;
  border: none !important; /* 🔹 убираем нижнюю линию */
  background-color: #f7f7f7;
  color: #000;
  border-radius: 20px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;



  &:hover,
  &:focus {
    text-decoration: none;
    background-color: #FFC934;
    
  }

}

.button {
  /* Override Chrome's border-radius which is visible when
   border is used as underline */
  border-radius: 0;
  /* Override Chrome's button outline */
  outline: 0;
}

.selectedTabContent {
  background-color: #FFC934;
  color: #000;
}

.disabled {
  pointer-events: none;
  color: var(--colorGrey300);
  text-decoration: none;
}

/* Dark skin */
.tabContentDarkSkin {
  color: var(--colorGrey300);
  

  &:hover,
  &:focus {
    color: var(--colorWhite);
  }
}

.selectedTabContentDarkSkin {
  border-bottom-color: var(--colorWhite);
  color: var(--colorWhite);
}

.disabledDarkSkin {
  color: var(--colorBlack);
  opacity: 0.3;
}

  @media (max-width: 1023px) {
  .tabContent { font-size: 14px; line-height: 17px; border-radius: 13px; }
  .tab { height: 50px;}
  .root { gap:5px;  }
}