@import '../../../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--colorFail);
}

.input {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.buttonGroup {
  display: flex;
  gap: 10px;
  margin-top: auto;
  margin-bottom: 24px;


  @media (min-width: 1280px) {
    margin-top: 20px;
  }

   @media (min-width: 1024px) {
    margin-top: 20px;
  }

  @media (max-width: 1023px) {
    margin-top: 20px;
  }
}

.backButton {
  flex: 0 0 auto;
  min-width: 50%;
  background-color: #C4E1EE;
  color: #000;
   border-radius: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0 4px 3px rgba(0,0,0,.1);
  height: 60px;

  &:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }

  @media (max-width: 1023px) {
    width: 50%;
    border-radius: 13px;
     font-size: 14px;
     height: 50px;
  }

   @media (min-width: 1024px) {
    width: 50%;
  }
}

.submitButton {
  flex: 1;
  background-color: #FFC934;
  border-color: #FFC934;
  color: #000;
   border-radius: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0 4px 3px rgba(0,0,0,.1);
  height: 60px;
@media (max-width: 1023px) {
height: 50px;
}

  &:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }

  &:focus {
    background-color: #000;
    border-color: #000;
  }

  &:disabled {
    background-color: #FFC934;
    border-color: #FFC934;
    color: #000;
   border-radius: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0 4px 3px rgba(0,0,0,.1);
 @media (max-width: 1023px) {
    width: 50%;
     border-radius: 13px;
     font-size: 14px;
  }
  }

  @media (max-width: 1023px) {
    width: 50%;
     border-radius: 13px;
     font-size: 14px;
  }
}
