@import '../../../styles/customMediaQueries.css';

.root {
  /* Layout */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  /* Content of EditListingWizard should have smaller z-index than Topbar */
  z-index: 0;
}

.tabsContainer {
  flex-grow: 1;
  /* Layout */
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: center;
  }

  
}

.nav {
  /* Layout */
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-shrink: 0;
  background-color: #f7f7f7;
  box-shadow: none;
 
  overflow-x: scroll;
  border-radius: 13px;


  @media (min-width: 1280px) {
    padding: 72px 0 82px 36px;
    flex-direction: column;
    overflow-x: auto;
    background-color: #f7f7f7;
    border-radius: 20px 0 0 20px;
    box-shadow: none;
    border-top: none;
    
  }


  @media (min-width: 1024px) {
    padding: 72px 0 82px 36px;
    flex-direction: column;
    overflow-x: auto;
    background-color: #f7f7f7;
    border-radius: 20px 0 0 20px;
    box-shadow: none;
    border-top: none;
    
  }
  @media (--viewportLargeWithPaddings) {
    padding: 72px 0 82px calc((100% - 1056px) / 2);
  }

  @media (max-width: 1023px) {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 3px rgba(0,0,0,0.05);
  }
}

.tab {
  margin-left: 20px;
  white-space: nowrap;
  

  &:first-child {
    margin-left: 0;

    /* Padding added to tab so that it will be visible after call to scrollToTab */
    padding-left: 24px;
  }

  &:last-child {
    /* Padding added to tab so that it will be visible after call to scrollToTab */
    padding-right: 24px;
  }

  @media (--viewportLarge) {
    margin-left: 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.modalTitle {
  composes: marketplaceModalTitleStyles from global;
  
}

.modalPayoutDetailsWrapper {
  @media (--viewportMedium) {
    width: 604px;
    padding-top: 11px;
  }
}

.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
}

.customFieldMultiEnum {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 40px;
  }
}


