@import '../../styles/customMediaQueries.css';

.mobileTopbar {
  /* Size */
  width: 100%;
  height: var(--topbarHeight);
  

  /* Layout for child components */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* fill */
  background-color: var(--colorWhite);

  /* shadows */
  box-shadow: none;

  @media (--viewportLarge) {
    display: none;
  }
}

.desktopTopbar,
.mobileTopbar {
  box-shadow: none;

  @media (--viewportLarge) {
    box-shadow: var(--boxShadowLight);
  }
}

.wizard {
  flex-grow: 1;
  width: 1200px;
  margin: 20px auto;
  height: auto;
  

  @media (max-width: 1279px) {
width: 100%;
margin: 20px auto;
padding: 0 20px;
 height: auto;

  }
  /* Для десктопа - убираем прокрутку и используем все пространство */
  @media (max-width: 1023px) {
    height: auto; /* Убираем фиксированную высоту */
    overflow-y: visible; /* Убираем прокрутку */
    width: 100%; /* Увеличиваем ширину */
    margin: 20px auto; /* Центрируем */
    padding: 0 20px; /* Увеличиваем боковые отступы */
  }
}

