@import '../../styles/customMediaQueries.css';

.customField {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--viewportMedium) {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.customFieldset {
  margin: 0 0 24px 0;
  padding: 0;
  border: none;

  & legend {
    font-size: var(--fontSizeLarge);
    line-height: var(--lineHeightLarge);
    font-weight: var(--fontWeightMedium);
    color: var(--colorGrey900);
    margin-bottom: 16px;
  }

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.customTextInput {
  height: 44px;
  line-height: 44px;
  padding: 0 16px;
}
