@import '../../../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--colorFail);
}

.formMargins {

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.title {
  composes: formMargins;
  margin-bottom: 24px;

   @media (--viewportMedium) {
    margin-bottom: 32px;
   }

}

.description {
  composes: formMargins;
  flex-shrink: 0;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
   }


}

.listingTypeSelect {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }


}

.selectedLabel {
  composes: label from global;
  

}
.selectedValue {
  margin-top: 0;
  margin-bottom: 0px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px 0 6px 0;
  }
}

.unitTypeHidden {
  display: none;
}

.paymentMethodDescription {
  margin-top: -16px;
  margin-bottom: 24px;
  padding: 16px;
  background-color: #f7f7f7;
  border-left: none;
  border-radius: 20px;

  @media (max-width: 1023px) {
    border-radius: 13px;
    margin-bottom: 32px;

  }
}

.paymentMethodDescriptionTitle {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #909090;

@media (max-width: 1023px) {
  font-size: 14px;
}

}

.paymentMethodDescriptionText {
  margin: 0;
  font-size: 16px;
   font-weight: 400;
  line-height: 20px;
  color: #909090;

@media (max-width: 1023px) {
font-size: 14px;
}
}

.buttonGroup {
  display: flex;
  gap: 16px;
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (min-width: 1280px) {
    margin-top: 20px;
  }

   @media (min-width: 1024px) {
    margin-top: 20px;
  }

  @media (max-width: 1023px) {
    margin-top: 20px;
  }


}

.backButton {
  flex: 0 0 auto;
  min-width: 120px;

  @media (--viewportLarge) {
    width: 150px;
  }
}

.submitButton {
  flex: 1;
  background-color: #FFC934;
  border-color: #FFC934;
  border-radius: 20px;
  color: #000;
  height: 60px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.03em;
box-shadow: 0 4px 3px rgba(0,0,0,.1);

  &:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }

  &:focus {
    background-color: #FFC934;
    border-color: #FFC934;
    color: #000;
  }

  &:disabled {
    background-color: #FFC934;
    border-color: #FFC934;
    color: #000;
  }

  @media (max-width: 1023px) {
    height: 50px;
    font-size: 14px;
    border-radius: 13px;
  }
}
