@import '../../../../styles/customMediaQueries.css';

.root {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}

.imagesFieldArray {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0 0 24px 0;
}

.thumbnail {
  width: 100%;
  background-color: #FFC934;
}

.addImageWrapper {
  float: left;
  position: relative;
  width: 100%;
  overflow: hidden;

  &::after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
   
  }
}

.addImage {
  /* Layout */
  /* Maintain aspect ratio */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  

  /* Colors */
  background-color: #f7f7f7;

  @media (--viewportLarge) {
    background-color: #fff;
  }

  border-style: dashed;
  border-color: var(--colorGrey100);
  border-width: 2px;
  border-radius: 20px;

  @media (max-width: 1023px) {
    border-radius: 13px;
  }
  /* Behaviour */
  cursor: pointer;
  transition: var(--transitionStyleButton);

  &:hover {
    border-color: var(--colorGrey300);
  }
}

.chooseImageText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chooseImage {
  composes: h4 from global;
  color: #000;
  font-weight: 700;
 font-family: 'Inter', sans-serif;
  font-size: 14px;

  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: 1024px) {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.imageTypes {
  composes: marketplaceTinyFontStyles from global;
  color: #909090;

  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportLarge) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.addImageInput {
  display: none;
}

.tip {
  composes: h5 from global;

  flex-shrink: 0;
  color: #909090;
  margin-top: 24px;
  margin-bottom: 0px;

  @media (--viewportLarge) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.error {
  color: var(--colorFail);
}

.arrayError {
  font-weight: var(--fontWeightMedium);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--colorFail);
  width: 100%;
  clear: both;

  margin-top: 6px;
  margin-bottom: 12px;

  @media (--viewportMedium) {
    font-weight: var(--fontWeightMedium);
    margin-top: 6px;
    margin-bottom: 10px;
  }
}

.buttonGroup {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: 24px;

  @media (min-width: 1280px) {
    margin-top: 20px;
  }

   @media (min-width: 1024px) {
    margin-top: 20px;
  }

  @media (max-width: 1023px) {
    margin-top: 20px;
  }
}

.backButton {
  flex: 0 0 auto;
  min-width: 50%;
  background-color: #C4E1EE;
  color: #000;
   border-radius: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0 4px 3px rgba(0,0,0,.1);
  height: 60px;

  &:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }

  @media (max-width: 1023px) {
    width: 50%;
    border-radius: 13px;
     font-size: 14px;
      height: 50px;
  }

   @media (min-width: 1024px) {
    width: 50%;
  }
}

.submitButton {
  flex: 1;
  background-color: #FFC934;
  border-color: #FFC934;
  color: #000;
   border-radius: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0 4px 3px rgba(0,0,0,.1);
  height: 60px;

/* Только для мобильных */
@media (max-width: 1023px) {
   padding: 0 20px;
   line-height: 1.2;
   height: 50px;
}

  &:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }

  &:focus {
    background-color: #000;
    border-color: #000;
  }

  &:disabled {
    background-color: #FFC934;
    border-color: #FFC934;
    color: #000;
   border-radius: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0 4px 3px rgba(0,0,0,.1);
 @media (max-width: 1023px) {
    width: 50%;
     border-radius: 13px;
     font-size: 14px;
  }
  }

  @media (max-width: 1023px) {
    width: 50%;
     border-radius: 13px;
     font-size: 14px;
  }
}
