@import '../../styles/customMediaQueries.css';

.root {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  color: #1DA1F2;
  font-size: 11px;
  font-weight: 600;
  margin-left: 6px;
  vertical-align: middle;
}

.icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}

.text {
  display: inline-block;
  line-height: 1;
}

@media (--viewportMedium) {
  .root {
    font-size: 13px;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}

