@import '../../styles/customMediaQueries.css';

.layoutWrapperMain {
}

.root {
  flex-grow: 1;
  position: relative;

 
  /* Светлый фон как на главной странице для десктопа */
  @media (--viewportMedium) {
    
    background: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }
}

.contentContainer {
  composes: marketplaceModalRootStyles from global;
  min-height: calc(100vh - 60px);
  height: auto;

  @media (--viewportMedium) {
    height: unset;
    min-height: unset;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Иллюстрация справа от формы */
.contentContainer::after {
  @media (--viewportMedium) {
    display: flex;
    content: '';
    flex-shrink: 0;
    width: 400px;
    height: 500px;
    background: url('./bg-autorization.png') no-repeat center/contain;
    order: 1;
  }
  @media (max-width: 1023px) {
  display: none;}
}

.content {
  composes: marketplaceModalBaseStyles from global;
  padding-top: 28px;
  border-radius: 0px;
  background-color: #fff;



  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    min-height: auto;
    flex-shrink: 0;
    order: 2;
    border-bottom: none;
    
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* ================ Tabs & Form ================ */

.tabs {
  @media (--viewportMedium) {
    margin-top: 6px;
  }
}



.tab {
  composes: marketplaceModalTitleStyles from global;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.03em;
  background-color: none;
  box-shadow: 0 4px 3px rgba(0,0,0,.01);
 font-weight: 700;
  color: #000;
  height: 60px;
  min-width: 70px;
  border-radius: 20px;
  padding: 0 40px;
  
  &:hover, &:focus {
    background-color: #ffc934;
  }

}


.form {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 30px;
    padding-top: 2px;
  
  }
}

.loginForm {
  margin-top: 24px;
  font-size: 16px;
  

  /* We don't want the form to take the whole space so that on mobile view
  the social login buttons will be after the sign up button
  and not in the bottom of the page.
  We also need to add flex-basis value so that Safari will show the
  whole form correctly.  */
  flex-grow: 0;
  flex-basis: 260px;

  @media (--viewportMedium) {
    flex-basis: 330px;
    margin-top: 30px;
    padding-top: 2px;
  }
}

.signupForm {
  margin-top: 24px;

  /* We don't want the form to take the whole space so that on mobile view
  the social login buttons will be after the sign up button
  and not in the bottom of the page.
  We also need to add flex-basis value so that Safari will show the
  whole form correctly.  */
  flex-grow: 0;
  flex-basis: 340px;

  @media (--viewportMedium) {
    flex-basis: 410px;
    margin-top: 30px;
    padding-top: 2px;
    
  }
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;

  /* Align the helper links to the left since there isn't a Primary Button anymore */
  text-align: left;
}

/* Terms of Service modal*/

.privacyWrapper,
.termsWrapper {
  width: 100%;
  padding-top: 40px;

  @media (--viewportMedium) {
  
    width: 604px;
    padding-top: 11px;
  }
}

/* userType selection */
.userTypeSelect {


  margin-bottom: 24px;
 

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.selectedLabel {
  composes: label from global;
  
}
.selectedValue {
  margin-top: 0;
  margin-bottom: 6px;


  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px 0 6px 0;
    
  }
}

/* ================ Hide Top bar in screens smaller than 768px  ================ */

.hideOnMobile {
  display: none;

  @media (--viewportMedium) {
    display: block;
  }
}

/* ================ Close icon ================ */

.verifyClose {
  composes: marketplaceModalCloseStyles from global;

  /* This is not a real modal, z-index should not be modal's z-index */
  z-index: 1;
}

.closeText {
  composes: marketplaceModalCloseText from global;
}

.closeIcon {
  composes: marketplaceModalCloseIcon from global;
}

/* ================ Typography ================ */

/* Title of the modal */
.modalTitle {
  composes: marketplaceModalTitleStyles from global;
  
  
}

/* Paragraph for the Modal */
.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
  
}

/* Make the email pop */
.email {
  font-weight: var(--fontWeightHighlightEmail);

  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}

/* Helper links */
.modalHelperLink {
  composes: a from global;
  composes: marketplaceModalHelperLink from global;
  
}

/* Helper texts for the links, not the actual links */
.modalHelperText {
  composes: marketplaceModalHelperText from global;
}

.modalIcon {
  composes: marketplaceModalIconStyles from global;

  /* Align the icon and rest of the content in the modal. Sign & Login doesn't use an icon, maybe we should add one? */
  margin-top: 47px;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

/* ================ Errors ================ */

.error {
  composes: marketplaceModalPasswordMargins from global;
}

/* ================ Social logins & SSO ================ */

.signupWithIdpTitle {
  composes: marketplaceModalTitleStyles from global;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 16px;
  color: var(--colorBlack);

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 6px;
  }
}

.confirmInfoText {
}

.buttonIcon {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.socialButtonWrapper {
  margin-bottom: 6px;
  @media (--viewportMedium) {
    margin-top: 8px;
  }
}

.socialButtonsOr {
  width: 100%;
  height: 32px;
  margin: 28px 0 20px 0;
  text-align: center;
  position: relative;
  background-color: var(--colorWhite);

  &:after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #d2d2d2;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
  }
}

@media (--viewportMedium) {
  .socialButtonsOr {
    height: 34px;
    margin: 15px 0;
  }
}

.socialButtonsOrText {
  background-color: var(--colorWhite);
  width: auto;
  display: inline-block;
  z-index: 3;
  padding: 0 20px 0 20px;
  position: relative;
  margin: 0;
}

/* Главная кнопка (например "Войти") */
.content button,
.content .buttonPrimary {
  background-color: #ffc934 !important;
  color: #000 !important;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  transition: 0.2s;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  height: 60px;

}

.content button:hover,
.content .buttonPrimary:hover {
  background-color: #000 !important;
  color: #fff !important;
  text-decoration: none;
} 


/* Поля ввода (Email / Пароль) */
.content input {
  background-color: #ffffff !important;  /* белый фон */
  border: 1px solid #909090 !important;  /* светло-серая рамка */
  color: #909090 !important;                /* цвет текста */
  border-radius: 10px;                   /* плавные углы */
  height: 50px;
  padding: 10px 14px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

/* Цвет рамки при наведении */
.content input:hover {
  border-color: #c5c5c5 !important;
}

/* Цвет рамки при фокусе (когда кликаешь внутрь) */
.content input:focus {
  border-color: #000 !important;         /* чёрный */
  box-shadow: none !important;           /* убираем голубое свечение браузера */
}

@media (max-width: 1023px) {
  .content input { font-size: 16px; }
  .content button, .content .buttonPrimary { font-size: 14px; border-radius: 13px; height: 50px;}
.tab { font-size: 12px; padding: 0 20px; height: 50px; line-height: 1.1; border-radius: 13px;}
}